output*
figures*
.deprecated
.ipynb_checkpoints
.idea
__pycache__
config_files/coma
data/datasets
data/transforms
data/ids_list
data/metadata
*html
*pdf
tests/examples
analysis/rsconnect
.project
runs/jobs
runs/logs
